.flex-wrap-custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cards-news-custom {
    width: 23%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text-custom {
    text-overflow: ellipsis;
    height: 50px;
    overflow: hidden;
}

.cards-news-buttons-custom {
    display: flex;
    justify-content: space-between;
}

.img-news-custom {
    display: block;
    margin: 0 auto;
    width: 600px;
}

.pagination-custom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
